/desafio-clase-7/node_modules
/proyecto-final/node_modules
/desafio-clase-10/node_modules
/desafio-clase-15/node_modules
/proyecto-final-2/node_modules
/desafio-clase-19/node_modules
/desafio-clase-21/node_modules
/desafio-clase-24/node_modules
/desafio-clase-27/delivery_be/node_modules
/proyecto-final-3/node_modules
/desafio-clase-31/node_modules
/e-commerce/node_modules